* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    font-family: system-ui;
}

/* .container {
    width: 70%;
    margin: 20px auto;
} */
@media(max-width:767px) {
    .td-del {
        display: none;
    }

    #update,
    #delete {
        font-size: 13px;
        padding: 5px;
    }

    table th {
        font-size: 14px;
    }
}

.container {
    margin-top: 60px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.head {
    margin-bottom: 60px;
    text-align: center;
    color: white;
}

p {
    color: #8a45cf;
    font-weight: 700;
}

h2 {
    font-size: 18px;
}

input {
    background-color: #121212;
    color: white;
    border: none;
    outline: none;
    height: 40px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 11px;
}

#title {
    width: 100%;
}

.pri span {
    background-color: #c52222;
    padding: 6px;
    border-radius: 6px;
    color: white;
    margin-left: 6px;
    border: none;
    DISPLAY: BLOCK;
    width: fit-content;
    margin-bottom: 10px;
}

.pri span::before {
    content: "Total: ";
}

.pri {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    gap: 5px;
}

.pri input {
    width: 100%;
}

#count,
#categ {
    width: 100%;
}

#creat {
    border: none;
    width: 100%;
    background-color: rebeccapurple;
    color: white;
    border-radius: 31px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

#creat:hover {
    background-color: #a146bd;
    letter-spacing: 0.02cm;
}

table {
    width: 100%;
    text-align: center;
    margin: 40px 0;
    color: white;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}

td button {
    background-color: rebeccapurple;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

td button:hover {
    background-color: #a146bd;
}

#delet button {
    border: none;
    width: 100%;
    background-color: rebeccapurple;
    color: white;
    border-radius: 31px;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#delet button:hover {
    background-color: #a146bd;
    letter-spacing: 0.02cm;
}

.search-sec {
    margin: 20px 0;
}

#search {
    width: 100%;
}

#bytitle,
#bycateg {
    border: none;
    width: 40%;
    background-color: rebeccapurple;
    color: white;
    border-radius: 31px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button :hover {
    background-color: red;
}

@media (max-width:767px) {

    #bytitle,
    #bycateg {
        font-size: 13px;
    }
}

.search-buts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bytitle:hover {
    background-color: #a146bd;
    letter-spacing: 0.02cm;
}

#bycateg:hover {
    background-color: #a146bd;
    letter-spacing: 0.02cm;
}

.foot {
    text-align: center;
    padding: 30px 0 25px;
    border-top: 1px solid #5c5c5c;
}

.foot h3 {
    color: white;
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}

.foot h3 span {
    color: #af5fff;
}

.btnmooddiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
}

#btnmood {
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    font-weight: bold;
    border: navajowhite;
    border-radius: 25px;
}